h1{
    color: #00e637;
}


/* Destaque da imagem na página de Instituições Clientes */
section img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da tela */
    height: auto; /* Mantém a proporção da imagem */
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
    border: 5px solid #00e637; /* Adiciona uma borda verde para destacar */
    box-shadow: 0px 4px 8px rgba(199, 252, 183, 0.747); /* Adiciona sombra à imagem */
}
h1 {
    color: #00e637;
}

.servicos {
    color: #004fe2; /* Cor verde para a palavra "Serviços" */
    text-decoration: none; /* Remove sublinhado */
}

.servicos-link {
    text-decoration: none; /* Remove sublinhado do link */
}

h5 {
    color:#001025;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

.body{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.contact-box {
    
}